@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      background-color: #16162357;
    }
    body::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    body::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: linear-gradient(#2196f3, #e91e63); */
      clip-path: circle(20% at 10% 10%);
    }
    .container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      flex-wrap: wrap;
      z-index: 1;
    }
    .container .card{
      /* position: relative; */
      width: 350px;
      height: 500px;
      margin: 30px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
    }
    .container .card .content{
      padding: 20px;
      text-align: center;
      transition: .5s;
      transform: translateY(100px);
    }
    .container .card .content .avatar{
      width: 180px;
      border-radius: 50%;
    }
    .container .card .content h2{
      position: absolute;
      top: -200px;
      right: 5px;
      font-size: 8em;
      color: #1616231a;
      pointer-events: none;
    }
    .container .card .content h3{
      font-size: 1.8em;
      color: #161623;
      z-index: 1;
    }
    .container .card .content p{
      font-size: 1em;
      color: #161623;
      font-weight: 300;
    }
    .container .card .content a{
      text-align: center;
      position: relative;
      display: inline-block;
      margin: .5rem;
      margin-top: 50px;
      color: #fff;
      /* border-radius: 5rem; */
      text-decoration: none;
      font-weight: 500;
      box-shadow: 0 5px 15px rgba(0, 0, 0, rgba(0, 0, 0, .5));
    }
    .container .card .content a .icon{
        width: 50px;
    }