@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body{
      background-color: #fff;
    }
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .container .card::before{
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
      filter: blur(10px);
    }
    .container .card::after{
      background: inherit;
    }
    .container .card{
      z-index: 2;
      background: inherit;
      width: 700px;
      margin: 30px;
      border-radius: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      box-shadow: -7px 18px 38px 14px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .container .card .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      text-align: center;
    }
    .card-content{
      margin: 0 5rem;
    }
    .container .card .content .avatar{
      width: 250px;
      border-radius: 50%;
      transition: .3s ease-in;
    }
    .container .card .content h2{
      position: absolute;
      top: -200px;
      right: 5px;
      font-size: 8em;
      color: #1616231a;
      pointer-events: none;
    }
    .container .card .content h3{
      font-size: 1.8em;
      color: #161623;
      z-index: 1;
    }
    .container .card .content p{
      font-size: 1em;
      color: #161623;
      font-weight: 300;
    }
    .container .card .content a{
      text-align: center;
      position: relative;
      display: inline-block;
      margin: .5rem;
      margin-top: 50px;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }
    .container .card .content a .icon{
        width: 50px;
    }
    .icon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .icon a{
        background-color: transparent;
        transition: .2s;
    }
    @media screen and (max-width: 800px){
      .content{
        flex-direction: column;
      }
      .container .card{
        border-radius: 3rem;
        text-align: center;
      }
      .container .card .content .avatar{
        border-radius: 2rem;
      }
    }
    .bouncing-blob {
      width: 32vw;
      aspect-ratio: 1;
      border-radius: 50%;
      will-change: transform;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      transform-origin: left top;
    }
    
    .bouncing-blob--blue {
      background: #4783c7;
    }
    
    .bouncing-blob--white {
      background: #ffffff;
      z-index: 2;
      width: 15vw;
    }
    
    .bouncing-blob--purple {
      background: #8c8ff1;
    }
    
    .bouncing-blob--pink {
      background: #e289cd50;
    }
    
    .bouncing-blobs-container {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .bouncing-blobs-glass {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(140px);
      -webkit-backdrop-filter: blur(140px);
      pointer-events: none;
    }
    
    .bouncing-blobs {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 500px) {
      .bouncing-blob {
        width: 60vw;
      }
      .bouncing-blob--white {
        width: 30vw;
      }
      .bouncing-blobs-glass {
        backdrop-filter: blur(90px);
        -webkit-backdrop-filter: blur(90px);
      }
    }